#första {
    text-align: center;
    background-color: beige;
    padding: 10px 10px;
    height: 100px;
    border-radius: 5px;
    margin: 10px auto;
    color: #978e42;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
   

body {
    width: 600px;
    margin: auto;
    border-bottom: 1px solid lightgray;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
   border-bottom: 1px solid lightgray;
    text-align: center; 
}
li {
  display: inline-block; 
  width: 20%; 
  margin-right: -4px; 
}
a {
  display: block; 
  
}

#rubrik {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image {
    background-image: url(logo.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    border-radius: 200px;
    margin: auto;

}

h1 {
    font-size: 32px;
}
h2 {
    font-size: medium;
}
p {
    font-size: small;
}