#första {
    text-align: center;
    background-color: beige;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px auto;
    color: #978e42;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
   

body {
    width: 600px;
    margin: auto;
}